AUTH_SECRET= yourAuthSecret
AUTH_GITHUB_ID= yourAuthGithubID
AUTH_GITHUB_SECRET=yourGitHubSecret
AUTH_GOOGLE_ID = yourAuthGoogleID
AUTH_GOOGLE_SECRET = yourAuthGoogleSecret

MONGODB_URI = yourMongoDBURI


GOOGLE_GENERATIVE_AI_API_KEY= yourGoogleAI_API_KEY

NEXT_PUBLIC_RAPID_API_KEY= rapidAPIKEY for jobs
